.amazon-header {
  background: linear-gradient(92.41deg, #003d32, #04734b);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.amazon-header-left-section {
  width: 198px;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.amazon-logo {
  width: 100px;
  margin-top: 5px;
}

.amazon-mobile-logo {
  display: none;
}

.deliverToPh-btn {
  border: none;
  background-color: transparent;
}

.deliverToPh-btn:hover {
  border: solid 1px white;
  height: 50px;
}

.deliverToPh {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 5px;
}

.deliverToPh-text {
  display: flex;
  flex-direction: column;
  line-height: 15px;
  color: lightgray;
  font-size: 11px;
  letter-spacing: 1px;
}

.deliverToPh::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../../images/icons/location-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: brightness(0) invert(1);
}

.location-ph {
  color: white;
  font-size: 13px;
  font-weight: 700;
}

@media (max-width: 575px) {
  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.amazon-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 0px;
  margin-right: 10px;
  display: flex;
  position: relative;
}

.search-button-all {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 55px;
  height: 40px;
  flex-shrink: 0;
}

.search-button-all::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  padding: 0px 20px 0px 10px;
  background-image: url(../../images/icons/down-arrow-search-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dropMenu {
  background-color: white;
  display: none;
  border: solid 1px rgba(105, 105, 105, 0.856);
  position: absolute;
  margin-top: 38px;
  margin-left: 3px;
  max-height: 350px;
  overflow-y: auto;
}

.dropMenu a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-bottom: 3px;
  padding: 7px 2px;
}

.dropMenu a:hover {
  background-color: rgb(86, 86, 252);
  color: white;
}

.search-text-all {
  color: gray;
  margin-left: 5px;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.amazon-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}


.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;
  
  width: 26px;
  text-align: center;
}
